<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>225813700515-43femekkrmg9s28qpsnsn8ogbc3dohvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.225813700515-43femekkrmg9s28qpsnsn8ogbc3dohvh</string>
	<key>API_KEY</key>
	<string>AIzaSyBV7JlRlsgUIViF7buJlxTUzlmCBTjpFGo</string>
	<key>GCM_SENDER_ID</key>
	<string>225813700515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tachelhitinfo.arabic</string>
	<key>PROJECT_ID</key>
	<string>tachelhit-info-arabic</string>
	<key>STORAGE_BUCKET</key>
	<string>tachelhit-info-arabic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225813700515:ios:a09ac2ea0b5f23f4948416</string>
	<key>DATABASE_URL</key>
	<string>https://tachelhit-info-arabic.firebaseio.com</string>
</dict>
</plist>